<div class="grocery-list">
    <table>
        <tr>
            <th class="items">Item Name</th>
            <th class="cost">Qty.</th>
            <th class="quantity">Est. Cost Per Item</th>
            <th class="totalcost">Est. Total Cost</th>
            <th class="remove">Remove Item</th>
        </tr>
        <tr ng-repeat="i in items">
            <td>{{ i.name }}</td>
            <td>{{ i.qty }}</td>
            <td></td>
            <td></td>
            <td class="cancel" ng-click="remove()"><i class="fa fa-times" aria-hidden="true"></i></td>
        </tr>

    </table>

</div>

<form>
    <input type="text" placeholder="What Do You Need?" class="item-name">
    <input type="number" placeholder="Qty."  name="quantity" min="1" max="9999999"
           class="item-qty">
</form>

<div class="button-container">
    <button id="additem-button" ng-click="addToCart()">Add Item <i class="fa fa-shopping-cart"
                                                                      aria-hidden="true"></i>
    </button>
</div>

